These are the members of the Simpsons family:
{% set fam_query = "select ?name {" + resource.n3() + " fam:hasFamilyMember [ foaf:name ?name]}" -%}
{%- set result = graph.query(fam_query) -%}
{%- for mem in result -%}
- {{ mem["name"] }}
{% endfor%}
